<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Rest API</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="text-center">Add Student</h2>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <div class="card-body">
                <form id="student-form">
                    <div class="form-group">
                        <label for="student-maSv"> Mã Sinh Viên: </label>
                        <input type="text" id="student-maSv" placeholder="Nhập mã sinh viên"
                               class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="student-hoTen">Họ Và Tên Sinh Viên: </label>
                        <input type="text" id="student-hoTen" placeholder="Nhập họ và tên sinh viên"
                               class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="student-lop">Lớp: </label>
                        <input type="text" id="student-lop" placeholder="Nhập tên lớp"
                               class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="student-khoa">Khoa: </label>
                        <input type="text" id="student-khoa" placeholder="Nhập tên khoa"
                               class="form-control" required>
                    </div>

                    <div class="box-footer" style="text-align: center">
                        <button type="submit" class="btn btn-primary">
                            Add Student
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const studentForm = document.getElementById('student-form');

    studentForm.addEventListener('submit', function (e) {
        e.preventDefault();

        const studentMaSv = document.getElementById('student-maSv').value;
        const studentHoTen = document.getElementById('student-hoTen').value;
        const studentLop = document.getElementById('student-lop').value;
        const studentKhoa = document.getElementById('student-khoa').value;

        const newStudent = {
            maSv: studentMaSv,
            hoTen: studentHoTen,
            lop: studentLop,
            khoa: studentKhoa
        };

        fetch('http://localhost:8080/students', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(newStudent)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to add student');
                }
                return response.json();
            })
            .then(data => {
                alert('Student added successfully');
                window.location.href = "index.html";
            })
            .catch(error => {
                console.error('Error', error);
                alert('Failed to add student');
            });
    });
</script>
</body>
</html>