<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Rest API</title>
</head>
<body>
<h1>Student Details</h1>
<form id="student-form">
    <label for="student-id">Enter Student ID:</label>
    <input type="number" id="student-id" required>
    <button type="submit">Get Student</button>
</form>
<div id="student-details">
    <!-- Thông tin sản phẩm -->
</div>

<script>
    const studentForm = document.getElementById('student-form');
    const studentDetails = document.getElementById('student-details');

    studentForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const studentId = document.getElementById('student-id').value;

        fetch(`http://localhost:8080/students/${studentId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Student not found');
                }
                return response.json();
            })
            .then(student => {

                studentDetails.innerHTML = `
              <h2>Student Details</h2>
              <strong>ID:</strong> ${student.id}<br>
              <strong>Mã Sinh Viên:</strong> ${student.maSv}<br>
              <strong>Họ Và Tên:</strong> ${student.hoTen}<br>
              <strong>Lớp:</strong> ${student.lop}<br>
              <strong>Khoa:</strong> ${student.khoa}<br>
              `;
            })
            .catch(error => {
                studentDetails.innerHTML = `<p>${error.message}</p>`;
            });

    });
</script>
</body>
</html>